
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
// Variables
@import "../../../../cms/resources/assets/sass/mixins";
// grid
@import "grid";
// normalize
@import "normalize";
// navbar
@import "navbar";
// footer
@import "footer";
// art components
@import "art";
// press compoents
@import "press";
// title
@import "title";
// screenshot
@import "screenshot";
// dev
@import "dev";
// subscribe
@import "subscribe";
// press
@import "press";
// poppage
@import "poppage";
// image-carousel
@import "image-carousel";
// posts
@import "posts";
// post
@import "post";
// bootstr
@import "bootstrap";
// mobile
@import "mobile";
body,html{font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;}
p{
  font-size: 14px;
  font-family: 'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
  line-height: 24px;
}
.hidden{
  display: none;
}
body{
  //min-width: 1400px;
  //width: 100%;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.fl{
  float: left;
}

.input-group{
  text-align: center;
  margin: 0 auto;
  text-align: center;
  margin: 40px 0 0;
  input{
    border:1px solid #000000;
    -webkit-appearance: none;
    padding: 0 5px;
    width: 500px;
    height: 45px;
    line-height: 45px;
    text-indent: 5px;
  }
  .subscribe{
    font-size: 18px;
    background: #e71f19;
    -webkit-appearance: none;
    color: #ffffff;
    border:none;
    border-radius: 5px;
    text-align: center;
    padding: 0 40px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    cursor: pointer;
  }
}
.icon{
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.content-col{
  width: 700px;
  margin: 0 auto;
}
.container-fluid{
  padding: 0;
  min-width:1700px;
  width: 100%;
}
.banner {
  position: relative;
  //height: 975px;
  height: 900px;
  min-width: 1710px;
  width: 100%;
  top: 0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .monster{
    position: absolute;
    top: 160px;
    left: 0;
  }
  .banner_logo{
    position: absolute;
    left: 960px;
    top: 48%;
    z-index: 9;
  }
  .btn_group{
    position: absolute;
    left: 986px;
    top: 77%;
    line-height: 58px;
    color: #fff;
    font-size: 20px;
    z-index: 9;
    a{
      line-height: 55px;
      display: table;
      float: left;
      margin-left: 50px;
      cursor: pointer;
      color: #ffffff;
      text-decoration: none;
      img{
        vertical-align: middle;
      }
      span{
        margin-top: 0px;
        line-height: 58px;
        display: table-cell;
        height: 58px;
        vertical-align: middle;
        padding-left: 10px;
      }
    }
  }
}
.play_btn{
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 29px solid transparent;
  border-bottom: 29px solid transparent;
  border-left: 50px solid #ecebe7;
  cursor: pointer;
  transition: all 1s;
  z-index: 9;
  margin-right: 80px;
}

.play_btn:hover{
  animation: shake 1.5s;
}
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
.play_btn::before{
  content: " ";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 30px solid #e71f19;
  bottom: -18px;
  right: 13px;
}



/*intro*/
.intro{
  height: 320px;
  background-color: #ffffff;
  padding-top: 1px;
  padding: 100px 0;
  .title{
    margin-top: 0px!important;
  }
  .content{
    width: 715px;
    margin: 0 auto;
    text-align: center;
  }
}
.title.default{
  display: table;
  width: 480px;
  line-height: 32px;
  margin: 0 auto;
  background-color: #fff;
  white-space: nowrap;
  border-spacing: 10px 0;
  font-size: 50px;
  font-family: "title";
  margin-top: $title-margin-top;
  margin-bottom: 29px;
  letter-spacing: 5px;
}
.title.default:before, .title.default:after{
  display: table-cell;
  content: '';
  width: 50%;
  background: -webkit-linear-gradient(#000,#000) repeat-x left center;
  background: linear-gradient(#000,#000) repeat-x left center;
  background-size: 1px 1px;
}
.title.white{
  display: table;
  width: 480px;
  line-height: 32px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  white-space: nowrap;
  border-spacing: 10px 0;
  font-size: 50px;
  font-family: "title";
  margin-top: $title-margin-top;
  margin-bottom: 29px;
  letter-spacing: 5px;
}
.title.white:before, .title.white:after{
  display: table-cell;
  content: '';
  width: 50%;
  background: -webkit-linear-gradient(#fff,#fff) repeat-x left center;
  background: linear-gradient(#fff,#fff) repeat-x left center;
  background-size: 1px 1px;
}
.mask{
  position: absolute;
  top:0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: #000000;
  opacity: 0.5;
  z-index: 2;
}
.des{
  width: 715px;
  margin: 0 auto;
  text-align: center;
}
.white{
  color: #fff;
}
.readMore{
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  margin-top: 0px;
  border-radius: 5px;
  text-decoration: none;
}
.readMore:visited{

}
.is-danger{
  color: red;
}