
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
// normalize
@import "normalize";
// navbar
@import "navbar";
// footer
@import "footer";
// art components
@import "art";
// press compoents
@import "press";
// title
@import "title";
// screenshot
@import "screenshot";
// dev
@import "dev";
// subscribe
@import "subscribe";
// press
@import "press";
// poppage
@import "poppage";
// image-carousel
@import "image-carousel";
body,html{font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;}
p{
  font-size: 14px;
  font-family: "MicrosoftYaHei";
}
.hidden{
  display: none;
}
.input-group{
  text-align: center;
  margin: 0 auto;
  text-align: center;
  margin: 40px 0 0;
  input{
    border:1px solid #000000;
    -webkit-appearance: none;
    padding: 0 5px;
    width: 500px;
    height: 45px;
    line-height: 45px;
    text-indent: 5px;
  }
  .subscribe{
    font-size: 18px;
    background: #000000;
    -webkit-appearance: none;
    color: #ffffff;
    border:none;
    border-radius: 3px;
    text-align: center;
    padding: 0 40px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    cursor: pointer;
  }
}
.icon{
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.content-col{
  width: 700px;
  margin: 0 auto;
}
.banner {
  position: relative;
  height: 975px;
  top: 0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.play_btn{
  position: absolute;
  left: 50%;
  top: 55%;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-left: 93px solid #ecebe7;
  cursor: pointer;
  transition: all 1s;
  z-index: 9;
}
.play_btn:hover{
  animation: shake 1.5s;
}
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
.play_btn::before{
  content: " ";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 73px solid #e71f19;
  bottom: -40px;
  right: 12px;
}

.banner_logo{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  z-index: 9;
}

/*intro*/
.intro{
  height: 350px;
  background-color: #ffffff;
  //text-align: center;
  padding-top: 1px;
  .content{
    width: 715px;
    margin: 0 auto;
    text-align: left;
    text-indent: 20px;
  }
}
.title.default{
  display: table;
  width: 480px;
  line-height: 32px;
  margin: 0 auto;
  background-color: #fff;
  white-space: nowrap;
  border-spacing: 10px 0;
  font-size: 50px;
  font-family: "title";
  margin-top: $title-margin-top;
  margin-bottom: 29px;
  letter-spacing: 5px;
}
.title.default:before, .title.default:after{
  display: table-cell;
  content: '';
  width: 50%;
  background: -webkit-linear-gradient(#000,#000) repeat-x left center;
  background: linear-gradient(#000,#000) repeat-x left center;
  background-size: 1px 1px;
}
.title.white{
  display: table;
  width: 480px;
  line-height: 32px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  white-space: nowrap;
  border-spacing: 10px 0;
  font-size: 50px;
  font-family: "title";
  margin-top: $title-margin-top;
  margin-bottom: 29px;
  letter-spacing: 5px;
}
.title.white:before, .title.white:after{
  display: table-cell;
  content: '';
  width: 50%;
  background: -webkit-linear-gradient(#fff,#fff) repeat-x left center;
  background: linear-gradient(#fff,#fff) repeat-x left center;
  background-size: 1px 1px;
}
.mask{
  position: absolute;
  top:0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: #000000;
  opacity: 0.5;
  z-index: 2;
}
.des{
  width: 480px;
  margin: 0 auto;
}
.white{
  color: #fff;
}