// Variables
@import "variables";
.art{
  padding-top: 1px;
  height: 625px;
  background-size: cover;
  position: relative;
  .art-list{
    position: relative;
    list-style: none;
    height: 400px;
    margin: 60px auto 0 !important;
    li{
      float: left;
      width: 240px;
      height: 400px;
      //display: none;
    }
    /*li.active{
      display: inline-block!important;
    }*/
    img{
      transition: all 0.6s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    img:hover{
      transform: scale(1.2);
      box-shadow: 0px 9px 24.03px 2.97px rgba(0, 0, 0, 0.25);
    }
  }
  .fa-angle-left,.fa-angle-right{
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  .fa-angle-left{
    left: -40px;
  }
  .fa-angle-right{
    right: -40px;
  }
}

